@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@font-face {
  font-family: "Apercu Pro-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://anima-uploads.s3.amazonaws.com/5c502852e900f8000dc7d355/ApercuPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Apercu Pro-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("https://anima-uploads.s3.amazonaws.com/5c507f08e900f8000a909e03/apercu_medium_pro.otf") format("opentype");
}

* {
  box-sizing: border-box;
}
.container-center-horizontal {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.container-center-horizontal > * {
  pointer-events: auto;
  flex-shrink: 0;
}
a {
  text-decoration: none;
  display: contents;
}
.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999faa;
  opacity: 1; /* Firefox */
}
input {
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.mobile {
  display: none;
}
@media (max-width: 1800px) {
  .desktop-big {
    display: none;
  }
}
@media (max-width: 768px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}