
.privacy-page {
}

.page-title-privacy {
  font-family: var(--font-family-apercu_pro-medium);

  font-size: var(--font-size-xxxxl);
  color: var(--black);

  padding-top: 100px;
  padding-bottom: 100px;
}
.privacy-texts {
  line-height: 22px;
}
.privacy-subtitle {
  padding-top: 30px;
  padding-bottom: 25px;
}
.privacy-block {
  /*padding-top: 15px;*/
  padding-bottom: 25px;
}
.privacy-list-wrapper {
  padding-left: 40px;
}
.privacy-list {
  list-style-type: lower-alpha;
  padding-left: 70px;
  margin-top: 0;
  margin-bottom: 0;
}
.privacy-bold {
  font-weight: 600;
}