@media (max-width: 768px) {
  .main-page {
    margin-top: 150px;
    padding: 0;
    display: block;
  }
  .flex-row, .flex-col-6-header {
    display: block;
  }
  .flex-col-6-header, .flex-col-6 {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .flex-col-6-header {
    margin-top: 100px;
  }
  .g-nft {
    margin: 0;
    padding: 0;
    top: 37px;
    left: 20px;
  }
  .overlap-group {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  .get-api-access {
    margin-top: 100px;
  }
  .text-2 {
    width: 100%;
    min-width: 100%;
    font-size: 40px;
  }
  .main-subtitle {
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
    padding-left: 20px;
    padding-right: 20px;
    font-size: var(--font-size-xl)
  }
  .search-module-wrapper, .search-module {
    width: 100%;
    max-width: 100%;
    background: transparent;
  }
  .search-module {
    margin: 0;
    padding: 20px 0;
    height: auto;
    align-content: center;
  }
  .search-components-main {
    display: block;
  }
  .search-box-main {
    background: var(--grey);
  }
  .search {
    margin: 20px auto 0 20px;
    width: 90%;
  }
  .search-all-nfts {
    min-width: 200px;
    background: var(--grey);
  }
  .image-16 {
    display: none;
  }
  .flex-row-2 {
    display: none;
  }
}