.beeple {
  color: #999eaa;
  font-family: var(--font-family-apercu_pro-regular);
  font-size: var(--font-size-m);
  letter-spacing: 0;
  line-height: 20px;
  min-height: 20px;
  mix-blend-mode: normal;
  /*white-space: nowrap;*/
  overflow: hidden;
  overflow-wrap: break-word;
}
.button-results {
  align-items: center;
  background-color: var(--black);
  border-radius: 12px;
  /*display: flex;*/
  height: 60px;
  margin-left: 16px;
  mix-blend-mode: normal;
  overflow: hidden;
  padding: 0 22px;
  cursor: pointer;
  text-align: center;
  border: 1px solid var(--black);
  display: block;
}
.button-results:hover {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--black);
}
.g-nft-results {
  padding-left: 3%;
  letter-spacing: 0;
  line-height: 26px;
  mix-blend-mode: normal;
  padding-top: 52px;
  display: flex;
  flex-direction: column;
  width: 8.5%;
}
.g-nft-results-smaller {
  display: none;
}
.g-nft-results a {
  color: var(--black);
  font-family: var(--font-family-apercu_pro-medium);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 500;
}
.g-nft-results-smaller a {
  color: var(--black);
  font-family: var(--font-family-apercu_pro-medium);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 500;
}
.result-image {
  height: 243px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 100%;
  border-radius: 25px;
}
.overlap-group-results {
  align-items: flex-start;
  align-self: center;
  background-size: 100% 100%;
  display: flex;
  margin-top: 18px;
  margin-bottom: 100px;
  min-width: 500px;
  width: 100%;
  padding-top: 25px;
  position: relative;
  flex-flow: row wrap;
  min-height: 80vh;
}
.overlap-group-results-header {
  /*height: 93px;*/
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.nft-result {
  margin-left: 1.83%;
  margin-right: 1.83%;
  padding-bottom: 30px;
  width: 13%;
}
.results {
  align-items: flex-start;
  background-color: var(--white);
  mix-blend-mode: normal;
  position: relative;
  width: 80%;
}
.scifi {
  align-self: center;
  letter-spacing: 0;
  line-height: 26px;
  margin-left: 10px;
  min-height: 26px;
  min-width: 562px;
  mix-blend-mode: normal;
  white-space: nowrap;
  width: 562px;
}
.search-results {
  letter-spacing: 0;
  line-height: 26px;
  min-height: 26px;
  min-width: 64px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.search-components-results {
  align-items: flex-start;
  display: flex;
  /*width: 768px;*/
  margin-bottom: 30px;
}
.search-icon-results {
  height: 25px;
  mix-blend-mode: normal;
  width: 24px;
  margin-top: 8px;
}
.viktoria-bolonina {
  color: var(--black);
  font-family: var(--font-family-apercu_pro-medium);
  font-size: var(--font-size-l);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 30px;
  height: 60px;
  margin-top: 12px;
  min-height: 30px;
  mix-blend-mode: normal;
  /*white-space: nowrap;*/
  overflow: hidden;
  overflow-wrap: break-word;
}
.skeleton-image {
  height: 243px;
  width: 100%;
  padding-top: 100%;
  border-radius: 25px;
  background-color: var(--skeleton);
}
.skeleton-title {
  background-color: var(--skeleton);
  margin-top: 15px;
  height: 16px;
  width: 170px;
  border-radius: 12px;
}
.skeleton-text {
  background-color: var(--skeleton);
  height: 14px;
  width: 120px;
  border-radius: 10px;
  margin-top: 10px;
}
.loader {
  cursor: progress;
  position: relative;
  overflow: hidden;
}
.loader::after {
  content: "";
  -webkit-animation: ssc-loading 1.3s infinite;
  animation: ssc-loading 1.3s infinite;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  z-index: 1;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(255, 255, 255, 0.3)), to(transparent));
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
}
@keyframes ssc-loading {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
.error-response {
  width: 100%;
  height: 300px;
  text-align: center;
  /*display: flex;*/
  margin: auto;
  align-items: center;
  justify-content: center;

  font-family: var(--font-family-apercu_pro-regular);
  font-size: var(--font-size-xxxl);
}
.response-image {
  height: 100%;
}
@media (max-width: 1800px) {
  .results {
    width: 95%;
  }
  .g-nft-results {
    padding-left: 1%;
  }
}
@media (max-width: 1400px) {
  .nft-result {
    width: 20%;
  }
  .g-nft-results {
    width: 15%;
    display: none;
  }
  .g-nft-results-smaller {
    display: block;
    margin: 15px 0 0 15px;
  }
}